h1{
text-align: center;	
color: blue;
	
font-family:Arial, sans-serif;
}
body {
    background-repeat: no-repeat;	
	background-size: cover;
	background-position: all;
	background-image: url("bo4.jpg");
}
h2{
text-align: center;	
color: white;
	
font-family:Arial, sans-serif;
}
.battle{
	text-align: center;
	
}
.titre {

	font-family:Arial, sans-serif;
	color:white;
}
 
 a:hover {
color:blue


}
.divacceuil {

background-color: black;
}

.lien {
 
 font-family: Arial, sans-serif;
 text-decoration: none ; 
 border:0;
 color:white;
} 