body {
	background-repeat: no-repeat;
	background-image: url("image.jpg");
	background-size:cover;
    background-position:all;}
	

}


.blanc {
	color:white;
}
.titre {

	font-family:Arial, sans-serif;
	color:white;
}
.black {

	color:black;
}
.blue {

	color:blue;
	font-size:150%;
}
.lien {
 
 font-family: Arial, sans-serif;
 text-decoration: none ; 
 border:0;
 color:white;

 
}
.jeu {
 
 font-family: Arial, sans-serif;
 text-decoration: none ; 
 border:0;
 color:red;
 
}
.divacceuil {

background-color: black;
}
.divindex {
background-image: url("image.jpg");
background-repeat:no-repeat;
background-size: auto;
background-position: center;
}
a:hover {


	color: blue;
}
